<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
        Name: <input type="text" name="name"><br>
        Dojo Location: <select name="location" id="location">
            <option value="KC">kc</option>
            <option value="online">online</option>
        </select><br>
        Favorite Language <select name="lang" id="lang">
            <option value="python">python</option>
            <option value="c#">c#</option>
        </select><br>
        Comment: <br><textarea name="comment" id="com" cols="30" rows="10"></textarea><br>
        <input type="submit" value="push">
    </form>
</body>
</html>